/********************** 글로벌 설정 *********************/

.slide-stage {position: relative; /*overflow: hidden;*/}
.bt-angle {font-size: 6em; position: absolute; top: 50%; transform: translateY(-50%); cursor: pointer; color: #fff; opacity: .3; transition: all .5s; z-index: 2;}
.bt-angle:hover {opacity: 1;}
.bt-angle.bt-prev {left: 0;}
.bt-angle.bt-next {right: 0;}

 .slide-wrap {position: absolute; width:100%;}
.pager-wrap{position: absolute;
transform: translateX(-50%); left: 50%; bottom:5px; z-index: 2;
}
.pager-wrap > .pager {margin:.25em; cursor: pointer;  color: rgb(121, 121, 121);} 
.pager-wrap > .pager.active {color: rgb(255, 153, 0);} 

/**********************  *********************/


/********************** 반응형 설정 *********************/
@media (max-width: 1399px) {
	
}

@media (max-width: 1199px) {
	
}

@media (max-width: 991px) {
	
}

@media (max-width: 767px) {
	
}

@media (max-width: 575px) {
	
}